@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  overscroll-behavior: none;
  
  /* ADD THESE LINES: */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #171717; /* Matches the status bar */
}